<%- include("./partials/header.ejs") %>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <br>
                <div class="details">
                    <div class="topic">
                    <h2>
                        <%= blog.title %>
                    </h2>
                    <h6><i><%= blog.date %></i></h6>
                </div>
                    <div class="">
                        <p><%= blog.body %></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
<%- include("./partials/footer.ejs") %>