<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>
<body>
    <br>
    <div class="container">
    <div class="create-blog content">
        <form action="/update/<%- Blogs._id %>" method="POST">
            <img src="/images/nubs.png" class="img-responsive" width="50%">
                <h1>Edit Blog</h1>
                <br>
            <input type="text" id="title" name="title" placeholder="Topic" value="<%- Blogs.title %>">
            <input type="text" id="snippet" name="snippet" placeholder="Brief Description" value="<%- Blogs.snippet %>">
            <input type="text" id="date" name="date" placeholder="date" value="<%- Blogs.date %>">
            <input type="text" id="body" name="body" placeholder="body" value="<%- Blogs.body %>">
            <button class="btn btn-success">Update</button>
        </form>
    </div>
</div>
</body>
<%- include('./partials/footer.ejs') %>
</html>